.content{ 
    max-width: 525px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    color: #e3f5e3  
}
body {
    background-color: #D5EAFF;
    background-image: url(../img/ampik.jpg);
 }

.header {
    height: 52px;
    width: 1902px;
    background: #F0F0F0;
    box-shadow: 0 0 4px #555;
  }

div.header div.header-item {
    display: inline-block;
    border-left: 1px solid #009999;
    width: 12%;
    text-align: center;
    height: 52%;
    margin-top: 2px;
    padding: 10px 0 10px 0;
    
}

div.header div.header-item a {
    text-decoration: none;
    
}

h1 {
    font-style: oblique;
    color: #54c09c 
}

h2{
    font-size: large;
} 

div.header div.header-item.active,
div.header div.header-item a:hover
{
   font-weight: bold;
  
}

div.header div.header-item.active,
div.header div.header-item:hover 
{   background-color: #aed5d5; 
}